@mixin list-default($p: 0)
  padding: $p
  margin: $p
  list-style: none
@mixin pseudo($type: a, $display: block, $pos: absolute, $content: '')
  @if $type == a
    &::after
      content: $content
      display: $display
      position: $pos
      @content
  @else if $type == b
    &::before
      content: $content
      display: $display
      position: $pos
      @content
@mixin make-container($desktop: $container-desktop)
  max-width: $desktop
  padding: 0 2rem

//  Mixin for media queries
@mixin mq($device-w)
  @if map-has-key($media-breakpoints, $device-w)
    @media (max-width: #{map-get($media-breakpoints, $device-w)})
      @content
  @else
    @media (max-width: $device-w)
      @content

@mixin minq($device-w)
  @media (min-width: $device-w)
    @content
@mixin scroll-bar($bg)
  ::-webkit-scrollbar
    width: 10px
  ::-webkit-scrollbar-track
    background: #f1f1f1
  ::-webkit-scrollbar-thumb
    background: $bg
  ::-webkit-scrollbar-thumb:hover 
    background: lighten($bg, 5%)
@mixin horizontal-line ($bg, $w, $h)
  margin: 0
  display: inline-block
  border: none
  background: $bg
  width: $w
  height: $h