@mixin list-default($p: 0)
  padding: $p
  margin: $p
  list-style: none
@mixin pseudo($type: a, $display: block, $pos: absolute, $content: '')
  @if $type == a
    &::after
      content: $content
      display: $display
      position: $pos
      @content
  @else if $type == b
    &::before
      content: $content
      display: $display
      position: $pos
      @content

@mixin make-container($desktop: $container-desktop)
  max-width: $desktop
  padding: 0 1rem

//  Mixin for media queries
@mixin mq($device-w)
  @if map-has-key($media-breakpoints, $device-w)
    @media (max-width: #{map-get($media-breakpoints, $device-w)})
      @content
  @else
    @media (max-width: $device-w)
      @content

@mixin minq($device-w)
  @media (min-width: $device-w)
    @content
