$red: #fc2516
$red-rgba: rgba($red, .5)
$black-rgba: rgba(0, 0, 0, .5)
$text-dark: #1e1e1e
$text-gray: #303234

$logo-text: #b6b6b6
$logo-border: #d6d6d6
$hero-bg: #f7f7f7
$discount-bg: #f4f4f4
$white: #fff
$dark-shadow: rgba(0, 0, 0, .5)
$footer-bg: $text-dark

$container-desktop: 143rem
