.calculator
  padding: 10rem 0
  .container
    @include make-container(135rem)
    +mq(sm)
      width: 97%
  &__view
    display: none
    &.active
      display: block
    &--first
      .type-view
        background: $white
    &--second
      background: $hero-bg
      padding: 5rem
      +mq(sm)
        padding: 2rem
    &--third
      padding: 5rem
      background: $hero-bg
      +mq(sm)
        padding: 2rem 1rem
      .section-form
        margin-top: 30rem
        position: relative
        &::before
          content: ''
          width: 41.2rem
          height: 36.6rem
          background: url('../img/r-man.png')
          display: block
          position: absolute
          top: -30.5rem
          right: 0
          +mq(sm)
            width: 27rem
        &__form
          justify-content: flex-start
          +mq(xl)
            flex-wrap: wrap
        .input-wrap
          [type='text']
            max-width: 80%
            +mq(xl)
              max-width: 100%
          &--submit
            right: -5rem
            width: 35rem
            +mq(xl)
              right: auto

            &:hover
              [type='submit']
                padding-left: 4rem
            [type='submit']
              padding-left: 1rem
              text-transform: none
              font-family: 'gmm'
  &__title
    font: 3.3rem/1 'gmeb'
    max-width: 41rem
    +mq(1350px)
      margin-bottom: 5rem
    +mq(sm)
      font-size: 2.6rem
      margin-bottom: 3rem
    +mq(374px)
      font-size: 2.2rem
    span
      color: $red
      font-size: 4rem
      +mq(sm)
        font-size: 2.8rem
      +mq(374px)
        font-size: 2.4rem
  &__tab
    max-width: 91rem
    margin-left: auto
    justify-content: space-between
    border-bottom: 0
    margin: 0 0 2.5rem auto
    +mq(1350px)
      max-width: 100%
    li
      flex-basis: 18%
      border: 0
      position: relative
      +mq(sm)
        flex-basis: 49%
        &:not(:last-child)
          margin-bottom: .5rem
        &:last-child
          order: -1
        &:nth-child(2)
          order: -1
      .nav-link
        font-size: 1.4rem
        font-family: 'gmeb'
        text-transform: uppercase
        color: $text-dark
        height: 6rem
        line-height: 6rem
        width: 100%
        background: $hero-bg
        padding: 0
        text-align: center
        border: 0
        +mq(sm)
          font-size: 1.2rem
        +mq(sm)
          height: 4rem
          line-height: 4rem
      .nav-link.active
        background: darken($hero-bg, 5%)
      [type='radio']
        display: none
      &:nth-child(2)
        &::after
          content: ''
          background: url('../img/spriteall.png')
          background-position: -194px -89px
          width: 1.1rem
          height: 1.5rem
          position: absolute
          top: -1.5rem
          right: 0
      &:last-child
        &::before
          content: 'New'
          width: 5rem
          height: 2.5rem
          text-align: center
          background: $red
          position: absolute
          font: 1.4rem/2.5rem 'gm'
          color: $white
          right: 0
          top: -2.5rem
  .tab-content
    background: $hero-bg
