.order-process
  padding: 15rem 0
  position: relative
  .container
    @include make-container(140.1rem)
  &__title
    font: 4.8rem/1 'gmh'
    width: 70rem
    max-width: 100%
    margin: 0 0 0 auto
    span
      color: $red
      display: block
      text-align: right
			