.rewiews
  display: flex
  position: relative
  +mq(lg)
    flex-wrap: wrap
  &::before
    content: ''
    position: absolute
    top: 0
    width: 80%
    bottom: 0
    background: url('../img/rewiew-bg.png') no-repeat center
    background-size: cover
    +mq(lg)
      width: 100%
  &__col
    padding: 7rem 7rem 6rem 15rem
    flex: 0 0 60%
    max-width: 60%
    position: relative
    z-index: 100
    +mq(1650px)
      padding: 7rem 7rem 6rem 10rem
    +mq(1440px)
      flex: 0 0 63%
      max-width: 63%
    +mq(1350px)
      padding: 7rem 7rem 6rem 5rem
      flex: 0 0 61%
      max-width: 61%
    +mq(xl)
      flex: 0 0 62%
      max-width: 62%
    +mq(lg)
      flex: 0 0 100%
      max-width: 100%
      padding: 7rem 5rem
    +mq(sm)
      padding: 5rem 2.5rem
  &__title
    font: 4.5rem/1 gmeb
    color: $red
  &__subtitle
    font: 2.4rem/1 gm
    color: $white
    margin: 0 0 6rem
    +mq(sm)
      margin-bottom: 3rem
      font-size: 1.8rem
  &__text
    // sass-lint:disable no-important
    height: 0
    display: flex !important
    flex-direction: column
    overflow: hidden
    &.active
      display: block
      height: auto
    &-header
      display: flex
      justify-content: space-between
      align-items: center
      margin: 0 0 4rem
      max-width: 65rem
      +mq(xl)
        width: 90%
      +mq(lg)
        width: 100%
      +mq(sm)
        flex-direction: column
        align-items: flex-start
        margin-bottom: 1.5rem
    &-title
      font: 2.4rem/1 gmh
      color: $white
    &-subtitle
      font: 1.8rem/1 gm
      color: $red
    &-date
      font: 1.8rem/1 gm
      color: $red
    .skew-btn
      +mq(lg)
        display: block
  &__feedback
    font: 1.6rem/1.5 gml
    color: $white
    text-align: justify
    margin: 0
    max-width: 65rem
    +mq(xl)
      width: 90%
    +mq(lg)
      width: 100%
  &__adress
    position: absolute
    right: 0
    flex: 0 0 50%
    align-self: flex-start
    background: url('../img/rewiew-bg-left.png') no-repeat center
    background-size: cover
    padding: 7rem 15rem 23rem 25rem
    max-width: 50%
    max-height: 100%
    height: 75%
    +mq(1680px)
      padding: 7rem 15rem 15rem 20rem
    +mq(1650px)
      padding: 4rem 15rem 10rem
    +mq(1500px)
      flex: 0 0 46%
      max-width: 46%
      padding: 10rem
      height: 75%
      justify-content: center
    +mq(1350px)
      padding: 10rem 5rem
    +mq(lg)
      flex: 0 0 100%
      max-width: 100%
      position: relative
      right: auto
      order: -1
      justify-content: center
    +mq(lg)
      padding: 5rem 5rem 10rem
    +mq(md)
      padding: 5rem 2.5rem 10rem
    +mq(sm)
      padding: 5rem 2.5rem 7rem
    &-title
      font: 4.5rem/1 gmeb
      color: $white
      margin: 0 0 7rem
      +mq(1500px)
        margin-bottom: 5rem
      +mq(lg)
        text-align: center
      +mq(sm)
        margin-bottom: 2.5rem
    &-list
      @include list-default(0)
    &-item
      position: relative
      font: 1.8rem/1.5 gm
      color: $white
      padding: 1rem 0 1rem 7rem
      margin: .3rem 0 4rem
      +mq(1500px)
        margin: 0 0 2rem
      +mq(xl)
        padding-left: 4rem
        font-size: 1.6rem
      +mq(lg)
        max-width: 45rem
        margin: 0 auto 2rem
      +mq(md)
        padding-right: 1rem
      &:hover
        cursor: pointer
      &::before
        font-family: 'im'
        content: '\e947'
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        color: $text-dark
        font-size: 3.5rem
        transition: color .3s, transform .3s
    &-active
      &::before
        color: $white
        transform: translate(-10%, -50%)
  .skew-btn
    text-transform: none
    width: 29rem
    position: absolute
    bottom: 6rem
    right: calc(20% - 145px)
    +mq(lg)
      display: none
    &--text
      display: none
      position: relative
      bottom: auto
      right: auto
      margin-top: 2rem
      +mq(lg)
        display: block
      +mq(450px)
        width: 100%
        &::after
          right: 1rem
          +mq(366px)
            display: none
