.why-ruukki
  padding: 10rem 0

  .container
    @include make-container(143rem)
    +mq(1430px)
      max-width: 95%
  &__title
    @include pseudo(b)
      right: 0
      width: 165px
      height: 10.7rem
      background: url('../img/t-contur.png') no-repeat center
      background-size: 100%
      +mq(md)
        background-size: 45%
        background-position:  top right
    margin: 0
    font: 6rem/1 'gmeb'
    color: $text-dark
    position: relative
    +mq(md)
      font-size: 4rem
    +mq(450px)
      font-size: 3rem
    & > span
      color: $red
      display: block
      font-size: 4rem
      +mq(450px)
        font-size: 3rem
      span
        color: $text-dark
  &__wrap
    display: flex
    margin-top: 10rem
    +mq(md)
      flex-wrap: wrap
      margin-top: 5rem
  &__col
    padding: 8rem 8rem 35rem
    +mq(xl)
      padding: 8rem 5rem 35rem
    +mq(lg)
      padding: 8rem 5rem 30rem
    +mq(md)
      padding: 5rem 2.5rem 5rem
    h3
      font: 3.6rem/1 'gmeb'
      color: $text-dark
      margin-bottom: 8rem
      +mq(md)
        margin-bottom: 3rem
      span
        color: $red
    ul
      @include list-default(0)
      li
        position: relative
        &:not(:last-child)
          margin-bottom: 5rem
    p
      font: 1.6rem/1.5 'gm'
      margin: 0
    h4
      font: 2rem/1 'gmb'
      margin: 0
    &--left
      background: $hero-bg
      text-align: right
      h3
        text-align: left
    &--right
      border: 2.5rem solid $hero-bg
      border-left: 0
      padding: 5.5rem 5.5rem 7.5rem 8rem
      +mq(lg)
        padding: 5.5rem 1rem 7.5rem 5rem
      +mq(md)
        border-left: 2.5rem solid $hero-bg
        padding: 2.5rem 1rem 2.5rem 1rem
      h3
        text-align: right
      h4
        color: $red
      li
        @include pseudo(a)
          width: 4rem
          height: 4rem
          background-image: url('../img/spriteall.png')
          background-position: 0 -120px
          top: 2rem
          left: -10rem
          +mq(lg)
            left: -7rem
          +mq(md)
            display: none
  .section-form
    margin-top: -20rem
    +mq(md)
      margin-top: 5rem
.w-divider
  background-image: url('../img/spriteall.png')
  background-position: -139px -160px
  width: 4.2rem
  height: 1.1rem
  display: inline-block
  margin: 1.2rem 0 .5rem
  
