.skew-btn
  font-family: 'gm', monospace
  letter-spacing: .1rem
  color: $white
  position: relative
  border: 0
  height: 6rem
  width: 32rem
  max-width: 100%
  font-size: 1.6rem
  overflow: hidden
  text-transform: uppercase
  background: $text-dark
  text-align: left
  z-index: 2
  outline: none
  &:focus
    outline: none
  &::before
    content: ''
    position: absolute
    left: -15px
    top: 0
    height: 100%
    width: 70%
    background: $red
    transform: skew(-25deg)
    z-index: -1
    transition: .3s ease-in left, .3s ease-in transform, .3s ease-in width
  &::after
    font-family: 'im'
    content: '\ea3c'
    color: $red
    display: inline-block
    margin-left: 1rem
    font-size: 2.5rem
    position: absolute
    top: 1.2rem
  &:hover
    cursor: pointer
    &::before
      left: 100%
      width: 25%
      transform: skew(0deg)
  &--shine-red
    &::before
      animation: move 2s infinite
      width: 25%
    &::after
      color: $white
    &:hover
      &::before
        transform: skew(-25deg)
  &--white
    background: $white
    &:hover
      color: $red
.next-step
  // sass-lint:disable placeholder-in-extend
  @extend .skew-btn
  background: $red
  padding: 0
  width: 25rem
  +mq(374px)
    width: 23rem
  &::before
    display: none
  &::after
    right: 1rem
    color: $white


@keyframes move
  0%
    left: -10%
    opacity: 0
  5%
    opacity: 0.1
  48%
    opacity: 1
  80%
    opacity: 0.0
  100%
    left: 110%
@keyframes moveColor
  0%
    color: $red
  70%
    color: $red
  80%
    color: $white
  95%
    color: $white
  100%
    color: $red