.skew-btn
  font-family: 'gm', monospace
  letter-spacing: .1rem
  color: $white
  position: relative
  border: 0
  height: 6rem
  width: 32rem
  max-width: 100%
  font-size: 1.6rem
  overflow: hidden
  text-transform: uppercase
  background: $text-dark
  text-align: left
  z-index: 2
  &:focus
    outline: none
  &::before
    content: ''
    position: absolute
    left: -15px
    top: 0
    height: 100%
    width: 70%
    background: $red
    transform: skew(-25deg)
    z-index: -1
    transition: .3s ease-in left, .3s ease-in transform, .3s ease-in width
  &::after
    font-family: 'im'
    content: '\ea3c'
    color: $red
    display: inline-block
    margin-left: 1rem
    font-size: 2.5rem
    position: absolute
    top: 1.2rem
  &:hover
    cursor: pointer
    &::before
      left: 100%
      width: 25%
      transform: skew(0deg)

  &--white
    background: $white
    &:hover
      color: $red
