.review-slider
  position: absolute
  z-index: 1000
  width: 83rem
  height: 50rem
  &__relative
    position: relative
    min-height: 47rem
  &__nav
    overflow: hidden
  &__nav-item
    margin: 0 3rem 0 0
  &__nav-img
    width: 6rem
    height: 6rem
  &__bottom
    display: flex
    align-items: center
    margin: 0 0 5rem
    & .owl-prev,
    & .owl-next
      border: 0
      font-size: 2.5rem
      outline: none
      &:hover
        cursor: pointer
