.step-two
  flex: 0 0 100%
  display: flex
  justify-content: space-between
  +mq(xl)
    flex-wrap: wrap
    justify-content: flex-start
  +mq(md)
    justify-content: center
    max-width: 30rem
    margin: 0 auto
  &__color
    flex: 0 0 32rem
    +mq(xl)
      flex: 0 0 50%
      margin-bottom: 3rem
    +mq(md)
      flex: 0 0 100%
    .choose-style__list
      +mq(xl)
        max-width: 30rem
        margin: 0
  &__type
    flex: 0 0 25rem
    +mq(xl)
      flex: 0 0 50%
      margin-bottom: 5rem
    +mq(md)
      flex: 0 0 100%
    &-list
      @include list-default(0)
      li
        // sass-lint:disable nesting-depth
        cursor: pointer
        [type='radio']
          display: none
          &:checked + label
            &::before
              background: $red
        &:not(:last-child)
          margin: 0 0 5rem
        &:nth-child(2)
          label
            &::after
              background: url('../img/tr-2.png') no-repeat center / 100%
              width: 13.2rem
              height: 4rem
        &:nth-child(3)
          label
            &::after
              background: url('../img/tr-3.png') no-repeat center / 100%
              width: 14.2rem
              height: 4.9rem
      label
        margin-bottom: 0
        font: 1.6rem/1 'gmb'
        position: relative
        padding: 6rem 0 0 5rem
        display: flex
        flex-wrap: wrap
        align-items: center
        &::after
          content: ''
          width: 12.2rem
          height: 3.9rem
          display: block
          flex: 0 0 12.2rem
          background: url('../img/tr-1.png')
          position: absolute
          top: 0
        &::before
          content: '\ea10'
          font-family: 'im'
          font-size: 1.6rem
          text-align: center
          width: 3.5rem
          height: 3.5rem
          line-height: 3.5rem
          background: $logo-border
          color: $white
          display: block
          border-radius: 50%
          cursor: pointer
          position: absolute
          left: 0
  &__size
    flex: 0 0 37rem
    display: flex
    flex-direction: column
    justify-content: space-between
    text-align: center
    +mq(xl)
      flex: 0 0 100%
    .next-step
      width: 100%
      text-align: center
      +mq(xl)
        margin-top: 3rem
